language: java
sudo: true
dist: trusty
jdk: oraclejdk8
services:
  - mysql
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - oracle-java8-installer
      - mysql-server
      - mysql-client
before_install:
  - chmod +x mvnw
  - sudo mysql -e 'create database diagnojud'